.App{
  margin: 50px;
}

.form {
  width: auto;
}

.input {
  padding: 5px;
}

#btn {
  padding: 5px;
  margin: 5px;
  color: blue
}

/* .img{
  width: 300px;
} */

.movie{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(240, 240, 245);
  width: auto;
  padding: 10px;
  border: 1px;
  margin-top: 3em;
  border-radius: 5px;
  box-shadow: 2px 2px rgb(240, 240, 245);
}

.movie-details {
  width: 300px;
  background-color:#ccc;
  border-radius: 10px;
  padding: 50px
}

.movie-details > p {
  margin: 20px;
}

@media (max-width: 320px) {
  .App{
      margin: 50px;
  }
  .form > * {
    padding: 5px;
  }
  #btn {
  padding: 5px;
  margin: 10px 50px;
  color: blue;
}
  .movie{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: auto;
    border-radius: 5px;
    box-shadow: 2px 2px rgb(240, 240, 245);
    background-color: rgb(240, 240, 245);
  }

  .movie-details {
    margin-top: 20px;
    width: auto;
    border-radius: 10px;
    padding: 5px
  }

  .img{
    width: 200px;
    margin: 5px
  }

}


